### GENERAL

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.supported

# common code editors
.atom/
.vscode/

# NetBeans
nbproject/private/

# JetBrains IDEs
# see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# ignore everything except the files that are useful to others when sharing
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/dataSources.xml
!.idea/encodings.xml
!.idea/jsonSchemas.xml
!.idea/*.iml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/watcherTasks.xml
captures

# common files
*.log

# local configs
*.local.*


### PROJECT

/barrier/optic_barrier_hw/*.pro
/barrier/optic_barrier_hw/*.sch-bak
/barrier/optic_barrier_hw/*.lib
