//
// All races related styles
// Will split into multiple files soon
// --------------------------------------------------


.races-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 0 1rem 0;
	gap: 1rem;
}

.races-list-item, .race-details-line {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 1.875rem;
	row-gap: 0;

	.race-id {
		opacity: 0.5;
	}

	.race-team {

		.team-a, .team-b {
			font-size: 1.2rem;
		}

		.team-a, .team-b, .divider {
			display: inline-block;
		}

		.divider {
			opacity: 0.8;
			margin: 0 0.5rem;
		}

	}

	.race-state {
		padding: remy(3px) remy(6px);
		font-size: remy(12px);
		margin: 0 0 0 auto;
		text-transform: uppercase;
	}

	&.race--before-start {
		.race-state {

		}
	}

	&.race--running {
		.race-state {
			color: $white;
			background-color: $brand-warning;
		}
	}

	&.race--unfinished {
		.race-state {
			color: $white;
			background-color: $brand-danger;
		}
	}

	&.race--finished {
		.race-state {
			color: $white;
			background-color: $brand-success;
		}
	}
}

.races-list-item {
	margin: 0;
	padding: 1rem 1rem;
	border: 1px solid $gray-lighter;
}
