//
// WebSocketInfo
// --------------------------------------------------

@keyframes ws-info-dot-warning-blinking {
	0% {
		background-color: $brand-warning;
	}
	50% {
		background-color: $yellow;
	}
	100% {
		background-color: $brand-warning;
	}
}

.ws-info {
	background-image: none;
	background-color: $gray-lighter;
	text-decoration: none;
	appearance: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	line-height: inherit;
	position: relative;
	text-align: inherit;
	font-family: inherit;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 15px;

	.ws-info-dot {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: $gray;
	}

	&.ws-info--danger .ws-info-dot {
		background-color: $brand-danger;
	}

	&.ws-info--warning .ws-info-dot {
		background-color: $brand-warning;
		animation: 2s infinite ease-in-out ws-info-dot-warning-blinking;
	}

	&.ws-info--success .ws-info-dot {
		background-color: darken($brand-success, 10%);
	}

	&:hover, &:focus {
		background-color: darken($gray-lighter, 10%);

		.ws-info-details {
			display: block;
		}
	}

	.ws-info-details {
		position: absolute;
		width: auto;
		max-width: 300px;
		padding: 15px;
		border: 1px solid $gray-lighter;
		border-top: 1px solid transparent;
		top: 100%;
		right: 0;
		display: none;
		background-color: $white;
		z-index: 100;

		&:hover {
			display: block;
		}

		.ws-info-heading {
			font-size: 1.1rem;
			margin: 0 0 5px 0;
		}

		.ws-info-state {
			font-weight: 500;
			font-size: 1.2rem;
			margin: 0 0 5px 0;
			text-transform: uppercase;
		}

		.btn-group {
			margin: 10px 0 0 0;

			.btn {
				margin-bottom: 0;
			}
		}

	}

}
